*begin survex_different_data_order

*equate not_specified.3 normal_order.1 
*equate normal_order.3 normal_order2.1
*equate normal_order2.3 comp_tape_clino.1
*equate comp_tape_clino.3 clino_comp_tape_to_from.1

*begin not_specified
1 2 3.45 046 -1
2 3  7.2 052 5 ;A comment with semicolon separator
*end not_specified

*begin normal_order
*data normal from to tape compass clino
1 2 12.21 073 -12  ;A comment with semicolon separator
2 3  6.77 098 -04
*end normal_order

*begin normal_order2
*data normal from to length bearing gradient ignoreall
1 2 10.12 034 2.5
2 3 11.45 038 -1 A comment without a separator
*end normal_order2

*begin comp_tape_clino
*data normal from to compass tape clino
1 2 050 9.45 0
2 3 045 4.51 -2
*end comp_tape_clino

*begin clino_comp_tape_to_from
*data normal clino compass tape to from
5.23 67.33 8.23 2 1
-3.45 73.63 10.63 3 2
*end clino_comp_tape_to_from

*end survex_different_data_order